<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 引入jdbc配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/> 
	
	<!-- 扫描基础包 -->
	<context:component-scan base-package="com.yhh.action,com.yhh.dao,com.yhh.service"/>
	
	<!-- 配置c3p0连接池 -->
	 <bean id="dataSourse" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssh_shop?useUnicode=true&amp;characterEncoding=UTF8"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value=""/>
	</bean> 
	
	<!-- 零障碍整合Spring与Hibernate 添加Hibernate配置文件 -->	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 管理连接池 -->
		<property name="dataSource" ref="dataSourse" />
		<!-- 配置Hibernate属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 添加hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<!-- 用户类映射表 -->
				<value>com/yhh/shop/user/User.hbm.xml</value>
				<!-- 一级分类映射表 -->
				<value>com/yhh/shop/category/category.hbm.xml</value>
				<!-- 商品分类映射表 -->
				<value>com/yhh/shop/product/Product.hbm.xml</value>
				<!-- 二级分类映射表 -->
				<value>com/yhh/shop/secondCateGory/secondCateGory.hbm.xml</value> 
				<!-- 订单映射表 -->
				<value>com/yhh/shop/order/Order.hbm.xml</value>
				<!-- 订单项映射表 -->
				<value>com/yhh/shop/order/OrderItem.hbm.xml</value>
				<!-- 后台登录映射表 -->
				<value>com/yhh/shop/adminuser/adminUser.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 注解开启事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置Action========================================================= -->
	<!-- 配置首页访问的Action -->
	<bean id="indexAction" class="com.yhh.shop.index.IndexAction" scope="prototype"></bean>
	<!-- 配置访问注册页面的Action-->
	<bean id="userAction" class="com.yhh.shop.user.UserAction" scope="prototype"></bean>
	<!-- 配置生成验证码的Action -->
	<bean id="checkImgAction" class="com.yhh.shop.user.CheckImgAction" scope="prototype"></bean>
	<!-- 配置分类Action -->
	<bean id="cateGoryAction" class="com.yhh.shop.category.CateGoryAction" scope="prototype"></bean>
	<!-- 配置商品Action -->
	<bean id="productAction" class="com.yhh.shop.product.ProductAction" scope="prototype"></bean>
	<!-- 配置二级分类Action -->
	<bean id="secondCateGoryAction" class="com.yhh.shop.secondCateGory.SecondCateGoryAction" scope="prototype"></bean>	
	<!-- 配置购物车Action -->
	<bean id="cartAction" class="com.yhh.shop.cart.CartAction" scope="prototype"></bean>
	<!-- 配置订单Action -->
	<bean id="orderAction" class="com.yhh.shop.order.OrderAction" scope="prototype"></bean>
	<!-- 配置后台登录Action -->
	<bean id="adminUserAction" class="com.yhh.shop.adminuser.AdminUserAction" scope="prototype"></bean>
	
	<!-- 配置Service======================================================== -->
	<!-- 配置UserService -->
	<bean id="userService" class="com.yhh.shop.user.UserService"/>
	<!-- 配置CateGoryService -->
	<bean id="cateGoryService" class="com.yhh.shop.category.CateGoryService"></bean>
	<!-- 配置ProductService -->
	<bean id="productService" class="com.yhh.shop.product.ProductService"></bean>
	<!-- 配置 二级分类Service-->
	<bean id="secondCateGoryService" class="com.yhh.shop.secondCateGory.SecondCateGoryService"></bean>
	<!-- 配置订单Service -->
	<bean id="orderService" class="com.yhh.shop.order.OrderService"></bean>
	<!-- 配置后台登录Service -->
	<bean id="adminUserService" class="com.yhh.shop.adminuser.AdminUserService"></bean>
	
	<!-- 配置Dao============================================================ -->
	<!-- 配置UserDao -->
	<bean id="userDao" class="com.yhh.shop.user.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置 CateGoryDao-->
	<bean id="cateGoryDao" class="com.yhh.shop.category.CateGoryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置ProductDao -->
	<bean id="productDao" class="com.yhh.shop.product.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置二级分类Dao -->
	<bean id="secondCateGoryDao" class="com.yhh.shop.secondCateGory.SecondCateGoryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置订单Dao -->
	<bean id="orderDao" class="com.yhh.shop.order.OrderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置后台登录Dao -->
	<bean id="adminUserDao" class="com.yhh.shop.adminuser.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
